<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>New Doctor form</title>
    </head>
    <body>
        <h1>Produkto forma:</h1>
        <form th:action="@{/doctors/doctor}" method="post" th:object="${doctor}">
            <input type="hidden" th:field="*{id}"/>

            <p th:if="*{id != null}" th:text="'Id: ' + *{id}">Id:</p>
            <p>Name: <input type="text" th:field="*{name}"/></p>
            <p>Last name: <input type="text" th:field="*{lastName}"/></p>
            <p>Region: <input type="text" th:field="*{region}"/></p>
            <p>Specilization <input type="text" th:field="*{specialization}"/></p>
            <p> <input type="submit" th:value="${doctor.id != null ? 'Redaguoti' : 'Kurti'}"/> </p>
        </form>
    </body>
</html>
