<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctors</title>
</head>
<body>
    <p th:text="${doctor.name}"></p>
    <!--<p th:text="${product.title}"></p>-->
    <!--<p th:text="${product.description}"></p>-->
    <!--<p th:text="${product.price}"></p>-->
    <!--<p> <a th:href="@{/products/product/{id}(id=${product.id})}">Redaguoti</a> </p>-->
    <!--<p> <a th:href="@{/products/product/{id}/delete(id=${product.id})}">Ištrinti</a> </p>-->
</body>
</html>
